<div class="card">
    <div class="card-body">
        <h5 class="card-title">Itinerarios</h5>
        <h5 class="card-title">Basico</h5>
        <h5 class="card-title">Premium</h5>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>MyFitList</th>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-close"></i></span></div>
          </th>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Creación de rutinas</td>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-close"></i></span></div>
          </th>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
        </tr>
        <tr>
          <td>Asistencia personalizada</td>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
        </tr>
        <tr>
          <td>Vídeos completos</td>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
          <th>
            <div class="input-group-prepend"><span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-check"></i></span></div>
          </th>
        </tr>
      </tbody>
    </table>
</div>

