.left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    background-color: #3949ab; /* Color de fondo del sidebar */
    overflow-y: auto; /* Permite hacer scroll si el contenido es más largo que la altura del sidebar */
}